/*TEMPORARILY USING TODOLISTY AS THE CSS FOR THE BACKGROUND, HOWEVER IT SHOULDNT STYLE THE BG*/

.ToDoListy {
    background: rgb(162,213,214);
    background: linear-gradient(0deg, rgba(162,213,214,1) 0%, rgba(208,185,222,1) 100%)
    no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: insert 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
}

.ToDoListy > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
}

.ToDoListy > p {
    margin-top: 8px;
    color: #fff;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}