:root {
    --bg: #242526;
    --bg-accent: #484a48;
    --text-color: #dadce1;
    --border-radius: 8px;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --speed: 500ms;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}

/*div for input field*/
.Adding {
    margin: 2px auto;
    display: block;
}

.cardvibes {
    background: --bg;
    width: max-content;
    /*height:fit-content;*/
    height: min-content;
    padding: 2cm;

}

.maincard {
    background: --bg;
    width: 80%;
    height: 100%;
    padding: 5px;
    margin: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

@media (max-width: 420px) {
    .maincard {
        width: 95%;
    }
}

@media (min-width: 992px) {
    .maincard {
        width: 60%;
    }
}

.cardbutton {
    float: right;
    margin: 2px;
}

.taskitem {
    border: 1.5px solid black;
    margin: 2px;
    padding: 10px;
}

.taskitembody {
    padding: 5px;
}

.taskitem:hover {
    background-color:aliceblue;
    transition: background-color 300ms;
}

/*TEMPORARILY USING TODOLISTY AS THE CSS FOR THE BACKGROUND, HOWEVER IT SHOULDNT STYLE THE BG*/

.ToDoListy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: insert 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
    margin: auto; 
}

.showdone {
    width: 50%;    
    margin: 2px auto;
    display: block;
}